#login-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    margin: 0 auto;
    border: 4px solid #1a1818;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    background: #302e2d;
    min-height: 250px;
    padding: 20px;
    z-index: 9999;
}

#login-box .logo .logo-caption {
    font-family: 'Poiret One', cursive;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

#login-box .logo .tweak {
    color: #b71e4c;
}

#login-box #uploadForm {
    padding-top: 30px;
}

#login-box #uploadForm label input,
#login-box #uploadForm label select {
    border-radius: 0;
    background: #626060;
    border: 0;
    margin-bottom: 1px;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#login-box #uploadForm label:first-child input {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#login-box #uploadForm label:last-of-type input {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#login-box button.btn-custom {
    border-radius: 10px;
    margin-top: 5px;
    font-size: 20px;
    padding: 5px;
    background: #b71e4c;
    border-color: rgba(48, 46, 45, 1);
    color: white;
    font-family: 'Nunito', sans-serif;
}

#login-box .btn-custom:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background: #722040;
    color: white;
    border-color: #b71e4c;
}

#uploadForm input,
#uploadForm select {
    height: 45px;
    line-height: 1.4em;
    padding-left: 100px;
    width: 100%;
}

#uploadForm label {
    display: inline-block;
    height: 45px;
    line-height: 1.4em;
    position: relative;
    width: 100%;
    margin-bottom: 1px;
}

#uploadForm label span.label,
#uploadForm label strong {
    background-color: #302e2d;
    color: white;
    font-size: 14px;
    font-weight: 200;
    border: 1px solid #b71e4c;
    border-radius: 5px;
    min-width: 75px;
    line-height: inherit;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 13px;
    padding: 0 8px;
    pointer-events: none;
}

#uploadForm .populated {
    padding-left: 70px;
}

#uploadForm input:focus + span.label,
#uploadForm input:active + span.label,
#uploadForm select:focus + span.label,
#uploadForm select:active + span.label {
    top: -9px;
    color: #b71e4c;
    border: solid 3px;
    font-weight: bold;
}

#uploadForm input:focus + span.label,
#uploadForm input:active + span.label,
#uploadForm select:focus + span.label,
#uploadForm select:active + span.label {
    top: -9px;
    border: solid 3px;
    font-weight: bold;
}

#uploadForm input[type="submit"] {
    clear: both;
    display: block;
    height: auto;
    padding: 0;
    width: auto;
}

/* ANIMATION */
#uploadForm label span.label {
    transition: top 0.3s ease 0s, color 0.3s ease 0s;
}

#uploadForm input:focus,
#uploadForm select:focus {
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
input[type="date"]:focus,
select:focus {
    border: 3px solid #b71e4c !important;
}

/* pulse animation */
.pulse:hover {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: shake;
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translateX(-50%);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: translateX(-50%);
    }
}

.bounceInDown {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: bounceInDown;
}
