#upload .wrapper {
    padding: 20px;
}

.notification-bar {
    color: darkgrey;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: large;
    position: relative;
}

.notification-bar:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: grey;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: -1;
}

.notification-bar li {
    margin-top: 60px;
}

.notification-bar li span {
    margin-left: 50px;
    margin-top: -24px;
    border: 1px solid grey;
    padding: 10px;
    background-color: #626060;
}

.notification-bar li i {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: #b71e4c;
}

.notification-bar li i:after {
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    background-color: grey;
    margin-top: 15px;
    z-index: -1;
}