h2 {
    text-align: center;
    color: white;
}

.login-box.back {
    display: none;
}

#upload:target.login-box.back {
    display: block;
    padding-bottom: 50px;
}

#upload .wrapper {
    padding-left: 20px;
}

.notification-bar li i.success {
    color: forestgreen;
    background-color: lightgreen;
    border-color: forestgreen;
}

.notification-bar li i.error {
    color: red;
    background-color: lightsalmon;
    border-color: red;
}

.notification-bar li i.running {
    color: dodgerblue;
    background-color: lightblue;
    border-color: dodgerblue;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

/* circles */
.notification-bar {
    color: darkgrey;
    list-style: none;
    height: 400px;
    padding: 0;
    margin: 0;
    font-size: large;
    position: relative;
}

/* bar between circles */
.notification-bar .line {
    content: '';
    width: 10px;
    height: 375px;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: -1;
    background: grey;
}

/* step bar height */
.notification-bar li {
    margin-top: 30px;
}

/* span with steps text */
.notification-bar li span {
    margin-left: 55px;
    vertical-align: top;
    line-height: 0;
    position: relative;
    top: -20px;
    white-space: nowrap;
    padding: 10px 20px 10px 10px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* arrow left from span */
.notification-bar li span:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-right: 25px solid grey;
    border-bottom: 19px solid transparent;
    position: absolute;
    top: 0;
    left: -25px;
    z-index: -5;
}

/* circle label */
.notification-bar li i {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 36px;
    border: 3px solid grey;
    border-radius: 50%;
    background-color: #515151;
    -webkit-box-shadow: 0 0 15px 5px #272727;
    -moz-box-shadow: 0 0 15px 5px #272727;
    box-shadow: 0 0 15px 5px #272727;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
