h2 {
    text-align: center;
    color: white;
}

.login-box.back {
    display: none;
}

#upload:target.login-box.back {
    display: block;
    padding-bottom: 50px;
}

#upload .wrapper {
    padding-left: 20px;
}

.notification-bar li i.success {
    color: forestgreen;
    background-color: lightgreen;
    border-color: forestgreen;
}

.notification-bar li i.error {
    color: red;
    background-color: lightsalmon;
    border-color: red;
}

/* circles */
.notification-bar {
    color: darkgrey;
    list-style: none;
    height: 400px;
    padding: 0;
    margin: 0;
    font-size: large;
    position: relative;
}

/* bar between circles */
.notification-bar:after {
    content: '';
    width: 10px;
    height: 100%;
    position: absolute;
    top: 3px;
    left: 15px;
    z-index: -1;
    background: grey linear-gradient(to bottom, #02ff00, grey 20%);
}

/* step bar height */
.notification-bar li {
    margin-top: 30px;
}

/* span with steps text */
.notification-bar li span {
    margin-left: 65px;
    vertical-align: top;
    line-height: 0;
    position: relative;
    top: -19px;
    white-space: nowrap;
    padding: 10px 20px 10px 10px;
    font-size: 15px;
    color: white;
    background-color: grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* arrow left from span */
.notification-bar li span:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 25px solid grey;
    position: absolute;
    top: 0;
    left: -25px;
    z-index: -5;
}

/* circle label */
.notification-bar li i {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 36px;
    border: 3px solid grey;
    border-radius: 50%;
    background-color: #b71e4c;
}
